* {
    font-size: 10px;
    font-family: 'DM Sans';
    font-weight: 700;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginacaoLinha {
    display: flex;
}

.quadradoPaginacao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: center;
    
    height: 2.8rem;
    width: 2.8rem;
    background: #fff;
    border: solid 0.1rem;
    color: #000;
}

.quadradoPaginacao>h2 {
    font-size: 1.5rem;
    color: #000;
    max-height: 1.5rem;
}

.quadradoPaginacao>h3 {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    font-size: 1rem;
    color: gray;
    max-height: 1rem;
}