#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.botoes {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.addProcessos {
  font-size: 1.6rem;
}

.botaoExecutar {
  font-size: 1.6rem;
  background-color: green;
}

.botaoResetarProcessos {
  font-size: 1.6rem;
  background-color: red;
}

.graficoGantt {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.areaGrafico {
  overflow-x: auto;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.colunaGrafico {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.colunaGrafico>div {
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
}

.colunaGrafico>h2 {
  width: 2rem;
  height: 2rem;
}

.processos {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.paginacao {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;
}

.paginacao>section>h2 {
  font-size: 3rem;
}

.largura10 {
  display: flex;
  flex-wrap: wrap;
  max-width: 27.5rem;  
}