#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.botoes {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.addProcessos {
  font-size: 1.6rem;
}

.botaoExecutar {
  font-size: 1.6rem;
  background-color: green;
}

.botaoResetarProcessos {
  font-size: 1.6rem;
  background-color: red;
}

.graficoGantt {
  padding-bottom: 1rem;
}

.grafico {
  max-height: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grafico>h2 {
  max-width: 1.6rem;
  padding-right: 0.5rem;
}

.eixo-y {
  /* max-width: 1.6rem; */  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eixo-y>h2 {
  height: 1.6rem;
  width: 1.6rem;
}

.processos {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
